
<div class="row">
  <div class="col-md">
    <div class="card" style="width: 30rem;">
      <%= image_tag(@character.avatar.url, height: "400") if @character.avatar? %>
      <div class="card-body">
        <h4 class="card-title"><%= @character.user.username %>'s <%= @character.name %></h4>
        <div>
          <% if @character_attributes.present? %>
            <% @character_attributes.each do |attribute| %>
              <%= render 'character_attributes/attribute', character_attribute: attribute %>
            <% end %>
          <% end %>
        </div>

        <%= link_to 'Attributes', character_path(@character), class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_character_path(@character), class: "btn btn-primary" %>
        <%= link_to 'Delete', character_path(@character), method: :delete, data: {confirm: "Are you sure you want to delete this character?"}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-md attribute-form">
    <%= render 'character_attributes/new' %>
  </div>
</div>
